 [ req ]
 distinguished_name     = req_distinguished_name
 x509_extensions        = v3_ca

 dirstring_type = nobmp

 [ req_distinguished_name ]
 countryName                    = Country Name (2 letter code)
 countryName_value              = US

 localityName                   = Locality Name (eg, city)
 localityName_value             = CityName

 organizationName               = Organization Name (e.g., company)
 organizationName_value         = OrgName

 organizationalUnitName         = Organizational Unit Name (eg, section)
 organizationalUnitName_value   = OrgUnitName

 commonName                     = Common Name (eg, YOUR name)
 commonName_value               = xyz.com

 emailAddress                   = Email Address
 emailAddress_value             = mail@xyz.com

 [ v3_ca ]

 basicConstraints               = critical,CA:TRUE, pathlen:3
 keyUsage                       = critical, keyCertSign, digitalSignature, cRLSign, nonRepudiation
